/* .banner {
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  h1 {
    color: white;
    font-size: 50px;
  }

  p {
    font-size: 25px;
    margin-bottom: 50px
  }
}

.banner-content {
  color: rgba(255, 255, 255, 0.8);
}

.form-group {
  display: flex;
}

.input-lg {
  height: 53px;
  padding: 10px 16px;
  font-size: 23px;
  line-height: 1.3333333;
  border-radius: 2px;
}

.form-control {
  display: block;
  width: 100%;
  color: #000000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}

 */
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
